# first check is local to playbook directory
# next is home directory (if this then file must be called .ansible.cfg)
# last check is in /etc/ansible/
# first match wins!

[defaults]
inventory = /home/student/ans/inv/dev/hosts
host_key_checking = no
record_host_heys = /dev/null
